/* frontend/src/App.css */

/* Importar fuentes o librerías CSS globales aquí SIEMPRE PRIMERO */
@import url('https://cdn.jsdelivr.net/npm/fontisto@4.1.0/css/fontisto/fontisto.min.css');

/* Estilo para el contenedor principal debajo del header */
.app-main-content {
  padding-top: 60px; /* DEBE COINCIDIR con la altura del Header */
  height: calc(100vh - 60px); /* Ocupa el resto de la altura viewport */
  box-sizing: border-box;
  overflow: hidden; /* Evitar scroll aquí, el dashboard/sidepanel lo manejan */
}

/* Puedes añadir otros estilos globales específicos de App aquí si es necesario */